:root {
  --Fontheading: "Lexend Deca", sans-serif;
  --Fontbody: "Outfit", sans-serif;
  --Weightheading: 600;
  --bxbr: 3px solid #000;
  --bxbra : 8px;
  --bxsh: 0 1px 3px rgb(0 0 0 / 15%);
  --bxshover: 0 4px 60px 0px rgba(0 0 0 / 20%);
  --bstras: 0 4px 60px 0px rgba(0 0 0 / 20%);
  --rotale: 0deg;
  --icon-rotale: 0deg;
}
@media (prefers-reduced-motion: no-preference) {
	:root {
	  scroll-behavior: smooth;
	}
}
@mixin directional-one($property, $value) {
  & {
    #{$property}-left: $value;
  }
  .rtl & {
    #{$property}-right: $value;
  }
}
@mixin directional-two($property, $value1, $value2) {
  & {
    #{$property}: $value1;
  }
  .rtl & {
    #{$property}: $value2;
  }
}